<!DOCTYPE html>
<html>
<head>
    <title>Money Manager</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-light_blue.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
		google.charts.load('current', {'packages':['corechart']});
    </script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout" id='app'>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <i class="material-icons hiddenBackButton pointer" v-on:click="goBack()" id="backButton">arrow_back</i>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons pointer hiddenBackButton" id="rightIcon">add</i>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Money Manager</span>
            <nav class="mdl-navigation">
                <router-link to="/" class="mdl-navigation__link">Home</router-link>
                <router-link to="/login" v-if="!user.authenticated" class="mdl-navigation__link">Login</router-link>
                <router-link to="/register" v-if="!user.authenticated" class="mdl-navigation__link">Register
                </router-link>
                <router-link to="/dashboard" v-if="user.authenticated" class="mdl-navigation__link">Dashboard
                </router-link>
                <router-link to="/accounts" v-if="user.authenticated" class="mdl-navigation__link">Account List
                </router-link>
                <a v-on:click="logout()" v-if="user.authenticated" class="mdl-navigation__link">Logout</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-spinner mdl-js-spinner spinnerPos" id="loadingSpinner"></div>
            <div class="page-content">
                <router-view></router-view>
            </div>
            <div id="toast" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>