html,body{
	height:100%;
	width:100%;
}
.page-content{
	margin-left:15px;
	height:100% !important;
}

.horiz-center{
	margin-left:auto;
	margin-right:auto;
}

.mt-15{
	margin-top: 15px;
}

.spinnerPos{
	position: fixed;
	top: 15%;
	left: 50%;
	display: none;
}

.hiddenBackButton{
	display:none;
}

.fab{
	position:fixed;
	bottom: 15px;
	right: 15px;
}

.right-align-button{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.mdl-button--fab{
	margin-right: 15px;
	margin-left: 0;
}

.hiddenError{
	display:none;
	padding-top: 10px;
	margin-bottom: 0px;
}